<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30" height="30" class="d-inline-block align-top" alt="好。吃">
          我的餐廳清單
        </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>
<h1 class="mb-1 restaurant-show-title">{{page}}</h1>
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="{{action}}" method="POST">
    <label for="name" >name:</label>
    <input type="text" name="name" value="{{restaurant.name}}" required/><br/>
    <label for="name_en">English name:</label>
    <input type="text" name=="name_en" value="{{restaurant.name_en}}" pattern="[\w\s]+" required><br/>
    <label for="google_map">map url:</label>
    <input type="url" name="google_map" value="{{restaurant.google_map}}"/><br/>
    <label for="category">category:</label>
    <input type="text" name="category" value="{{restaurant.category}}" required/><br/>
    <label for="image">image:</label>
    <input type="url" name="image" value="{{restaurant.image}}"/><br/>
    <label for="location">location:</label>
    <input type="text" name="location" value="{{restaurant.location}}" pattern="[\u4e00-\u9ta5\w\s]+"/><br/>
    <label for="phone">phone:</label>
    <input type="tel" name="phone" value="{{restaurant.phone}}"/><br/>
    <label for="rating">rating:</label>
    <input type="number" value="{{restaurant.rating}}" min="0" max="5" required/><br/>
    <label for="description">description</label><br/>
    <textarea name="description"  rows="10" cols="30" required >{{restaurant.description}}</textarea><br/>
    <input type="submit">
</form>
    </div>
  </div>
</div>

