<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30" height="30" class="d-inline-block align-top" alt="好。吃">
          我的餐廳清單
        </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>
<h1 class="mb-1 restaurant-show-title">{{page}}</h1>
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form class="form-group" action="{{action}}" method="POST">
        <label for="name" >name:</label>
        <input class="form-control" type="text" name="name" value="{{restaurant.name}}" 
        placeholder="必填" /><br/>
        
        <label for="name_en">English name:</label>
        <input class="form-control" type="text" name="name_en" placeholder="輸入英文、數字"
        value="{{restaurant.name_en}}" pattern="^[^\u4e00-\u9ta5]+$" required><br/>
        
        <label for="google_map">map url:</label>
        <input class="form-control" type="url" name="google_map" value="{{restaurant.google_map}}" placeholder="輸入url"/><br/>
        
        <label for="category">category:</label>
        <input class="form-control" type="text" name="category" value="{{restaurant.category}}" 
        placeholder="必填" required/><br/>
        
        <label for="image">image:</label>
        <input class="form-control" type="url" name="image" value="{{restaurant.image}}"
        placeholder="url"/><br/>
        
        <label for="location">location:</label>
        <input class="form-control" type="text" name="location" value="{{restaurant.location}}" 
        pattern="^[\u4e00-\u9ta5\w\s]+$" placeholder="輸入中英文 數字"/><br/>
        
        <label for="phone">phone:</label>
        <input class="form-control" type="tel" name="phone" value="{{restaurant.phone}}" pattern="^[\d\s]+$"
        placeholder="輸入數字"/><br/>
        
        <label for="rating">rating:</label>
        <input class="form-control" type="number" name="rating" value="{{restaurant.rating}}" min="0.0" max="5.0" step="0.1"
        placeholder="輸入數字 如1.5" required/><br/>
        
        <label for="description">description</label><br/>
        <textarea class="form-control" name="description" placeholder="必填" required>{{restaurant.description}}</textarea><br/>
        
        <input type="text" name="this_req_sendby" value="{{page}}" style="display:none" >
        
        <button type="submit" class="btn btn-success">提交</button>
        {{message}}
      </form>
    </div>
  </div>
</div>

